
@{
    var welcomeMessage = ViewData["welcomeMessage"] as string;
    var SubsCount = ViewData["SubsCount"];
    var ButtonName = ViewData["ButtonName"] as string;
    var buttonColor = ViewData["buttonColor"] as string;
}
<h1>ViewData</h1>
<div style="color: white; background-color: #302e2e">@welcomeMessage</div>
<div style="margin-top: 15px;color:white;background-color: #302e2e;">Abone sayımız şuan @SubsCount</div>
<button style="align-items:center;margin-top: 15px;background-color:@buttonColor;color:#ffffff;">@ButtonName</button>